{{>navbar username=username}}
<h1>This is the assign project page</h1>

<p>
    {{!-- {{#each users}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{username}}</h5>
            </div>
        </div>
    {{/each}}
    {{#each projects}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{projName}}</h5>
            </div>
        </div>
    {{/each}} --}}
    <div id="projassignmentLists">
        <div id="projList">
            <div id="listTitle">
                <h3>Projects</h3>
                <a href="/admin/createproject" id="createProjBtn" class="btn btn-primary">Create new project</a>
            </div>
            <div class="card" style="width: 18rem;">
                {{#each projects}}
                    <div class="card-body">
                        <a href="#" class="card-title">{{projName}} <span hidden>{{id}}</span><a>
                    </div>
                {{/each}} 
            </div>
        </div>
        <div id="projList">
            <div id="listTitle">
                    <h3>Users</h3>
                    <a id="createProjBtn" class="btn btn-primary">Add user</a>
            </div>
            <div class="card" style="width: 18rem;">
            {{!--  {{#each users}}
                    <div class="card-body">
                        {{!-- <a href="/api/company/{{username}}/projects" class="card-title">{{username}}</a> 
                        <a href="#" class="card-title">{{username}}</a>

                    </div> 
                {{/each}} --}}
            </div>
        </div>
    </div>
</p>
<script>
    document.querySelectorAll('.card-title').forEach(item => {
        item.addEventListener('click', event => {
            console.log(item.innerText);
            const projectId = item.querySelector('span').innerText;
            fetch('/api/project/' + projectId + '/users')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                 const projectCard = document.querySelectorAll('.card')[1];
                projectCard.innerHTML = ''; // Clear previous projects
                if (data.length === 0) {
                    const noUsersDiv = document.createElement('div');
                    noUsersDiv.className = 'card-body';
                    noUsersDiv.innerHTML = `<h5 class="card-title">No users have access to this project</h5>`;
                    projectCard.appendChild(noUsersDiv);
                }
                else{
                    data.forEach(user => {
                    const projectDiv = document.createElement('div');
                    projectDiv.className = 'card-body';
                    projectDiv.innerHTML = `<h5 class="card-title">${user.username}</h5>`;
                    projectCard.appendChild(projectDiv);
                 });
                }
            });
        });

        
    });
</script>
{{>footer}}