{{>navbar username=username}}
<h3 id="welcomecomp">Project and User Management</h3>
<div id="projpath"><a  href="/mycompany">AutoSense<a href="/admin/assignproject">&gt;Manage</a></a></div>
    {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
        </div>
    {{/if}}
    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {{/if}}
    <div id="projassignmentLists">
        <div id="projList">
            <div id="listTitle">
                <h3>Projects</h3>
                <a href="/admin/createproject" id="createProjBtn" class="btn btn-primary">Create new project</a>
            </div>
            <div class="card" style="width: 18rem;">
                {{#each projects}}
                    <div class="card-body">
                        <a href="/admin/editproject/{{id}}" class="card-title">{{projName}}</a>
                    </div>
                {{/each}} 
            </div>
             <p style="color: white;margin-top: 2%; opacity: 0.4">Select a project to manage it</p>
        </div>
        <div id="userList">
            <div id="listTitle">
                <h3>Users</h3>
                <a href="/admin/createuser" id="createUserBtn" class="btn btn-primary">Create new user</a>
            </div>
            <div class="card" style="width: 18rem;">
                {{#each users}}
                    <div class="card-body">
                        <a href="/admin/edituser/{{username}}" class="card-title">{{username}}</a>
                    </div>
                {{/each}} 
            </div>
            <p style="color: white;margin-top: 2%; opacity: 0.4">Select a user to manage</p>
        </div>
    </div>

